nav{
    text-transform:uppercase;
    text-decoration:underline;
    text-align:left;
    
   }
 nav li{
     margin:right; 
    margin:left;
    display:inline;
   }
nav li a{
    
    text-decoration: none;
    padding: 2%;

    }
nav li a:hover{
       color: black;
}
.img1{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.prg1,h2,p,h6,h1,h3,h4{
    text-align: center;
}
.img2{
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .psg1{
      display:none;

  }

