body {
  text-align: center;
  background-color: coral;
}

nav {
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  margin-bottom: 20px;

}

nav li {
  margin: right;
  margin: left;
  display: inline;

}

nav li a {
  text-decoration: none;
  padding: 1%;
}

nav li a:hover {
  color: black;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.prg1,
p,
input,
lebel {
  font-family: 'Mali', cursive;
  color: white;
  background-color: coral;
  text-align: center;
}

h2,
h6,
h1,
h3,
h4 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.img2 {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.psg1 {
  background-color: coral;
  display: non;
}

/* *****SLIDING****/
/
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /* transition: background-color 0.1s ease; */
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {}

.text {
  font-size: 11px;
}

#col {
  text-align: left;
  text-decoration: underline;
  color: black;
  font-size: large;
}

.forms {
  border: 2px solid black;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.delivery {
  display: none;
}

#top {
  width: 100%;
  color: white;
  font-size: larger;
  background-image: url(../images/order.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-contro {
  width: 100%;
  height: 5%;
  padding: 8px;
}

#checkbox {
  border: 2px solid white;
  color: white;
  background-color: coral;
  width: 100%;
}

input {
  display: blok;
  border: 2px solid white;
}

#menu {
  display: flex;
  flex-direction: column;
}

.homepg {
  height: 100%;
  background-color: coral,
}
